html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	/*scroll-behavior: smooth;*/
}

/*flexbox*/
.flex{
	display: flex;

}
.jc_sb{
	justify-content: space-between;;
}
.jc_c{
	justify-content: center;
}
.ai_c{
	align-items: center;
}
.fd_c{
	flex-direction: column;
}

.home{
	/*height: 100%;*/
	background: url(../imgs/programmatie.jpg)  center no-repeat;
	height: 95vh;
  	background-size: cover;
	filter: brightness(0.4) grayscale(50%);
	position: relative;
}
#greeting{
	color: rgba(256,256,256,1);	
	position: relative;
	top:-70%;
	margin-bottom: -148px;
}
a{
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
}

.header{
	background-image:linear-gradient(rgba(28, 28, 28, 1), rgb(110, 110, 110, 1));
	position:relative;
	height: 5vh;
	top:0px;
	top: 0px;
	padding-left:5px;
	padding-right:5px;
}
.header_links a{
	padding-left: 15px;
	padding-right: 15px;
	transition: all 0.3s ease;
}

.header_links a:hover{
	padding: 10px;
	background: rgba(244, 244, 249, 0.5);
	border-radius: 5px;
}
.logo{
	font-size: 4vh;
}
.header_links{
	font-size: 1.5em;
}


@media screen and (max-width:775px){
    .hide-for-mobile{
        display: none;
    }
}
@media screen and (min-width:776px){
    .hide-for-desktop{
        display: none;
    }
}

.menu span{
	display: block;
	width: 26px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.8);
	transition: all 0.3s ease;
	transform-origin: 3px 1px;
}
.menu span:not(:last-child){
	margin-bottom: 5px;
}
.open span:first-child{
	transform: rotate(45deg);
}
.open span:nth-child(2){
	opacity: 0;
}
.open span:last-child{
	transform: rotate(-45deg);
}

/*animation*/
@keyframes fade-in{
	from{
		visibility: hidden;
		opacity: 0;
	}
	1% {
		visibility: visible;
		opacity: 0;
	}
	to{
		visibility: visible;
		opacity: 1;
	}
}
@keyframes fade-out{
	from{
		visibility: visible;
		opacity: 1;
	}
	99% {
		visibility: visible;
		opacity: 0;
	}
	to{
		visibility: hidden;
		opacity: 0;
	}
}
.fade-in{
  	animation: fade-in 400ms ease-in-out forwards;
}
.fade-out{
  	animation: fade-out 400ms ease-in-out forwards;

}
/* Mobile menu open*/

.overlay{
	visibility: hidden;
	position: fixed;
	top: 5vh;
	bottom: 0;
	right: 0;
	left: 0;
	/*background-image:linear-gradient(rgba(240, 240, 240, 1), rgb(255, 255, 255, 0.75));*/
	background-image:linear-gradient(rgba(28, 28, 28, 1), rgb(77, 77, 77, 0.75));
	
	opacity: 0;
	transition: all 2s ease-in-out;
}
.show-mobile-menu{
  	visibility: visible;
}

.mobile-menu{
	padding: 20px;
}
.mobile-menu a{
	display: block;
	text-align: center;
	padding: 5px;
	font-size: 1.5rem;
	background-color: white;
}
.mobile-menu a:first-child {
	padding-top: 20px;
}
.mobile-menu a:last-child {
	padding-bottom: 20px;
}
.overflow-hidden{
	overflow: hidden;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
}


